/* Map upstart brand palette to Starlight accent variables */

:root,
[data-theme="light"] {
  --sl-color-accent-low: #e7ecf8; /* upstart-100 */
  --sl-color-accent: #7270c6; /* upstart-600 */
  --sl-color-accent-high: #40406f; /* upstart-900 */
}

[data-theme="dark"] {
  --sl-color-accent-low: #40406f; /* upstart-900 */
  --sl-color-accent: #9ba3de; /* upstart-400 */
  --sl-color-accent-high: #d3daf2; /* upstart-200 */
}
